/*
#786eff lilavo
#f6f8f9 svetlo sivo
#6e7983 tunmo sivo
#273240 zagalvie
*/

body {
    font-family: Helvetica, sans-serif;
    color: #273240;
}

.enterprice {
    background-color: #f6f8f9;
    padding: 0 24px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 960px;
margin: 60px auto ;    
}

.enterprice .info {
    width: 40%;
    padding: 52px 0px;
}




.enterprice .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
}

.enterprice .title {
    font-size: 32px;
    margin-bottom: 22px;
    font-weight: normal;
}

.enterprice .text {
    margin-bottom: 22px;
    font-weight: normal;
    color: #646f79;
}

.enterprice .btn {
    all: unset;
    border: 1px solid #273240;
    padding: 10px 14px;
    border-radius: 4px;
    font-weight: bold;
}

.enterprice .btn-Sales {
    color: white;
    background-color: #786eff;
    border-color: #786eff;
    margin-right: 8px;
}
.enterprice .img {
    width: 40%; 
}